CmakeLists.txt
CmakeLists.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/reply/codemodel-v2-3d8b4ebfceddb12b14c2.json
build/.cmake/api/v1/reply/codemodel-v2-272913a339b3a3d93f7b.json
build/.cmake/api/v1/reply/index-2021-11-20T07-50-30-0388.json
build/.cmake/api/v1/reply/target-my_executable-Debug-ba2f9736ed0856d50c66.json
.gitignore
build/CMakeFiles/my_executable.dir/cmake_clean.cmake
build/CMakeFiles/my_executable.dir/build.make
build/CMakeFiles/my_executable.dir/compiler_depend.make
build/CMakeFiles/my_executable.dir/DependInfo.cmake
build/CMakeFiles/my_executable.dir/objects.a
build/CMakeFiles/my_executable.dir/objects1.rsp
.vscode/settings.json
build/compile_commands.json
.gitignore
build/my_executable.exe
build/.cmake/api/v1/reply/codemodel-v2-3203f1d3dfc8fd308957.json
build/CMakeFiles/progress.marks
build/CMakeFiles/Makefile2
build/CMakeFiles/my_executable.dir/build.make
.gitignore
build/CMakeFiles/my_executable.dir/compiler_depend.internal
build/CMakeFiles/my_executable.dir/objects.a
.gitignore
build/CMakeFiles/my_executable.dir/Dry_part_q2.1.c.obj
CmakeLists.txt
